*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: rgb(252, 125, 226);
    display: flex;
    align-items: center;
    justify-content:center ;
}
div{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}
#b1{
    width: 20%;
    height: 20%;
    background-color: chartreuse;
    border-style: solid;
    border-width: 3px;
    border-color: dimgrey;
   border-radius: 50% ;
   
}
#b2{
    background-color: rgb(239, 245, 233);
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: orangered;
    border-radius: 50%;
}